langchain>=0.3.19
langchain-aws>=0.2.14
langchain-community>=0.3.14
langchain-core>=0.3.37
# changed during the process again and again as per the requirement and again and again as per the requirement